In [17]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras import metrics,Model,layers,Sequential,losses
from connect_db import Session,engine
from data_models import Movie,User,Rating
from sklearn.model_selection import train_test_split
import json

In [2]:
session=Session()

In [3]:
# query with condition? alternative
all_users=session.query(User).all()
existing_movies=session.query(Movie).filter(Movie.year<1998).all()
new_movies=session.query(Movie).filter(Movie.year>1997).all()

In [38]:
all_movies=session.query(Movie).all()

In [70]:
all_movies_id=[elem.id for elem in all_movies]
all_movies_data=[{
        'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated,
        'director':elem.director,'genre':elem.genre
        } for elem in all_movies]

all_movies_df=pd.DataFrame(all_movies_data,index=all_movies_id)

In [43]:
exxx_df=all_movies_df[all_movies_df.year<1998]

In [54]:
all_movies_df.loc[3948]

year                    2000
actor         Robert De Niro
title       Meet the Parents
rated                  PG-13
director           Jay Roach
genre                 Comedy
Name: 3948, dtype: object

In [46]:
exxx_df

,year,actor,title,rated,director,genre
1,1995,Tom Hanks,Toy Story,G,John Lasseter,Animation|Children's|Comedy
2,1995,Robin Williams,Jumanji,PG,Joe Johnston,Adventure|Children's|Fantasy
3,1995,Walter Matthau,Grumpier Old Men,PG-13,Howard Deutch,Comedy|Romance
4,1995,Whitney Houston,Waiting to Exhale,R,Forest Whitaker,Comedy|Drama
5,1995,Steve Martin,Father of the Bride Part II,PG,Charles Shyer,Comedy
...,...,...,...,...,...,...
3935,1973,Jeff Morrow,Kronos,Not Rated,Kurt Neumann,Horror
3937,1984,Tom Selleck,Runaway,PG-13,Michael Crichton,Sci-Fi|Thriller
3941,1986,Angela O'Neill,Sorority House Massacre,R,Carol Frank,Horror
3942,1990,Gail Thackray,Sorority House Massacre II,Unrated,Jim Wynorski,Horror
3947,1971,Sylvester Stallone,Get Carter,R,Stephen Kay,Thriller

In [16]:
moview=session.query(Movie.actor,Movie.director).all()

In [23]:
actors=list({elem.actor for elem in moview})

In [20]:
import json

In [24]:
with open('test.json','w') as f:
    json.dump(actors,f)

In [25]:
with open('test.json','r') as f:
    aaa=json.load(f)

In [27]:
aaa[0]

'Ethan Suplee'

In [4]:
all_users_id=[elem.id for elem in all_users]
all_users=[{'gender':elem.gender,'occupation':elem.occupation,'age':elem.age,'zipcode':elem.zipcode} for elem in all_users]

In [12]:
all_users_df=pd.DataFrame(all_users,index=all_users_id)

In [13]:
all_users_df

     gender  occupation  age zipcode
1         F          10    1   48067
2         M          16   56   70072
3         M          15   25   55117
4         M           7   45   02460
5         M          20   25   55455
...     ...         ...  ...     ...
6036      F          15   25   32603
6037      F           1   45   76006
6038      F           1   56   14706
6039      F           0   45   01060
6040      M           6   25   11106

[6040 rows x 4 columns]

In [14]:
all_users_df.gender=(all_users_df.gender=='M').astype(int)

In [7]:
existing_movies[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x6379a97d0>,
 'title': 'Toy Story',
 'actor': 'Tom Hanks',
 'rated': 'G',
 'director': 'John Lasseter',
 'id': 1,
 'year': 1995}

In [8]:
existing_moview_id=[elem.id for elem in existing_movies]
existing_movies=[{'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated} for elem in existing_movies]
new_movies_id=[elem.id for elem in new_movies]
new_movies=[{'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated} for elem in new_movies]

In [14]:
user_mask=np.random.rand(len(all_users_df)) < 0.8
user_existing=all_users_df[user_mask]
user_new=all_users_df[~user_mask]

In [57]:
rating_existing=session.query(Rating).join(User).filter(User.id.in_(user_existing.index)).join(Movie).filter(Movie.year<1998).all()

In [59]:
len(rating_existing)

515545

In [58]:
rating[0].user

In [49]:
user_existing.index[:10]

Int64Index([2, 3, 4, 5, 7, 8, 9, 10, 11, 12], dtype='int64')

In [50]:
user_new.index[:10]

Int64Index([1, 6, 14, 18, 20, 27, 33, 34, 53, 62], dtype='int64')

In [3]:
movies=session.query(Movie).all()
movies_id=[elem.id for elem in movies]
movies_data=[{
        'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated,
        'director':elem.director,'genre':elem.genre
        } for elem in movies]

In [4]:
movies_df=pd.DataFrame(movies_data,index=movies_id)

In [6]:
movies_df

,year,actor,title,rated,director,genre
1,1995,Tom Hanks,Toy Story,G,John Lasseter,Animation|Children's|Comedy
2,1995,Robin Williams,Jumanji,PG,Joe Johnston,Adventure|Children's|Fantasy
3,1995,Walter Matthau,Grumpier Old Men,PG-13,Howard Deutch,Comedy|Romance
4,1995,Whitney Houston,Waiting to Exhale,R,Forest Whitaker,Comedy|Drama
5,1995,Steve Martin,Father of the Bride Part II,PG,Charles Shyer,Comedy
...,...,...,...,...,...,...
3948,2000,Robert De Niro,Meet the Parents,PG-13,Jay Roach,Comedy
3949,2000,Ellen Burstyn,Requiem for a Dream,R,Darren Aronofsky,Drama
3950,2000,Colin Farrell,Tigerland,R,Joel Schumacher,Drama
3951,2000,Michael Rispoli,Two Family House,R,Raymond De Felitta,Drama
3952,2000,Joan Allen,"Contender, The",N/A,Barbara Toennies,Drama|Thriller

In [13]:
movies_df.genre.isna().sum()

0

In [15]:
def get_movie_dict(movie_dict_file):
    with open(movie_dict_file,'r') as f:
        movie_dict=json.load(f)
    actor_dict=dict(zip(movie_dict['actors'],range(len(movie_dict['actors']))))
    director_dict=dict(zip(movie_dict['directors'],range(len(movie_dict['directors']))))
    rated_dict=dict(zip(movie_dict['rateds'],range(len(movie_dict['rateds']))))
    genre_dict=dict(zip(movie_dict['genres'],range(len(movie_dict['genres']))))
    return actor_dict,director_dict,rated_dict,genre_dict

def get_book_dict(book_dict_file):
    with open(book_dict_file,'r') as f:
        book_dict=json.load(f)
    author_dict=dict(zip(book_dict['authors'],range(len(book_dict['authors']))))
    publisher_dict=dict(zip(book_dict['publishers'],range(len(book_dict['publishers']))))
    return author_dict,publisher_dict

In [18]:
actor_dict,director_dict,rated_dict,genre_dict=get_movie_dict('movie_dict.json')
author_dict,publisher_dict=get_book_dict('book_dict.json')

In [28]:
zipcodes=all_users_df.zipcode.unique().tolist()

In [29]:
with open('movie_user_zipcodes.json','w') as f:
    json.dump(zipcodes,f)

In [30]:
with open('movie_user_zipcodes.json','r') as f:
    zipcodess=json.load(f)

In [31]:
zipcode_dict=dict(zip(zipcodess,range(len(zipcodess))))

In [34]:
all_users_df.zipcode=all_users_df.zipcode.apply(lambda x: zipcode_dict[x])

In [36]:
all_users_df.zipcode.unique()

array([   0,    1,    2, ..., 3436, 3437, 3438])

In [37]:
all_users_df

      gender  occupation  age  zipcode
1          0          10    1        0
2          1          16   56        1
3          1          15   25        2
4          1           7   45        3
5          1          20   25        4
...      ...         ...  ...      ...
6036       0          15   25     2601
6037       0           1   45     3437
6038       0           1   56     3438
6039       0           0   45      713
6040       1           6   25     1114

[6040 rows x 4 columns]

In [59]:
existing_movies_df=all_movies_df[all_movies_df.year<1998]
new_movies_df=all_movies_df[all_movies_df.year>1997]
user_mask=np.random.rand(len(all_users_df)) < 0.8
user_existing=all_users_df[user_mask]
user_new=all_users_df[~user_mask]

In [60]:
rating_existing=session.query(Rating).join(User).filter(User.id.in_(user_existing.index)).join(Movie).filter(Movie.year<1998).all()

In [62]:
print(rating_existing[0].user.gender)

F

In [63]:
train_genders=[1 if elem.user.gender=='M' else 0 for elem in rating_existing]

In [65]:
all_movies_df.year.min()

1919

In [67]:
all_movies_df.year=all_movies_df.year-1919

In [68]:
all_movies_df

,year,actor,title,rated,director,genre
1,76,Tom Hanks,Toy Story,G,John Lasseter,Animation|Children's|Comedy
2,76,Robin Williams,Jumanji,PG,Joe Johnston,Adventure|Children's|Fantasy
3,76,Walter Matthau,Grumpier Old Men,PG-13,Howard Deutch,Comedy|Romance
4,76,Whitney Houston,Waiting to Exhale,R,Forest Whitaker,Comedy|Drama
5,76,Steve Martin,Father of the Bride Part II,PG,Charles Shyer,Comedy
...,...,...,...,...,...,...
3948,81,Robert De Niro,Meet the Parents,PG-13,Jay Roach,Comedy
3949,81,Ellen Burstyn,Requiem for a Dream,R,Darren Aronofsky,Drama
3950,81,Colin Farrell,Tigerland,R,Joel Schumacher,Drama
3951,81,Michael Rispoli,Two Family House,R,Raymond De Felitta,Drama
3952,81,Joan Allen,"Contender, The",N/A,Barbara Toennies,Drama|Thriller

In [71]:
all_movies_df.year.describe()

count    2879.000000
mean     1986.770406
std        16.240475
min      1919.000000
25%      1984.000000
50%      1994.000000
75%      1997.000000
max      2000.000000
Name: year, dtype: float64

In [78]:
len(rated_dict)

22

In [105]:
rating_existing_group=[[] for _ in range(6041)]

In [106]:
for rating in rating_existing:
    rating_existing_group[rating.user_id].append(rating)

In [97]:
all_users_df.index.max()

6040

In [100]:
user_existing.index

Int64Index([   1,    2,    5,    6,    7,    8,    9,   10,   12,   13,
            ...
            6030, 6031, 6032, 6033, 6034, 6035, 6036, 6037, 6039, 6040],
           dtype='int64', length=4820)

In [110]:
type(rating_existing_group[1][0])

data_models.rating.Rating

In [111]:
r_len=[len(elem) for elem in rating_existing_group]

In [113]:
max(r_len)

1271

In [115]:
min(r_len[:1])

0

In [118]:
min_len=100
for elem in r_len:
    if elem>2 and elem<min_len:
        min_len=elem

In [122]:
temp_len=r_len

In [126]:
while 0 in temp_len:
    a=temp_len.index(0)
    del(temp_len[a])

In [127]:
len(temp_len)

4820

In [129]:
sum(temp_len)/4820

105.37053941908714