In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras import metrics,Model,layers,Sequential,losses
from connect_db import Session,engine
from data_models import Movie,User,Rating
from sklearn.model_selection import train_test_split

In [2]:
session=Session()

In [2]:
# query with condition? alternative
all_users=session.query(User).all()
existing_movies=session.query(Movie).filter(Movie.year<1998).all()
new_movies=session.query(Movie).filter(Movie.year>1997).all()

In [16]:
moview=session.query(Movie.actor,Movie.director).all()

In [23]:
actors=list({elem.actor for elem in moview})

In [20]:
import json

In [24]:
with open('test.json','w') as f:
    json.dump(actors,f)

In [25]:
with open('test.json','r') as f:
    aaa=json.load(f)

In [27]:
aaa[0]

'Ethan Suplee'

In [4]:
all_users_id=[elem.id for elem in all_users]
all_users=[{'gender':elem.gender,'occupation':elem.occupation,'age':elem.age,'zipcode':elem.zipcode} for elem in all_users]

In [5]:
all_users_df=pd.DataFrame(all_users,index=all_users_id)

In [6]:
all_users_df

     gender  occupation  age zipcode
1         F          10    1   48067
2         M          16   56   70072
3         M          15   25   55117
4         M           7   45   02460
5         M          20   25   55455
...     ...         ...  ...     ...
6036      F          15   25   32603
6037      F           1   45   76006
6038      F           1   56   14706
6039      F           0   45   01060
6040      M           6   25   11106

[6040 rows x 4 columns]

In [7]:
existing_movies[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x6379a97d0>,
 'title': 'Toy Story',
 'actor': 'Tom Hanks',
 'rated': 'G',
 'director': 'John Lasseter',
 'id': 1,
 'year': 1995}

In [8]:
existing_moview_id=[elem.id for elem in existing_movies]
existing_movies=[{'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated} for elem in existing_movies]
new_movies_id=[elem.id for elem in new_movies]
new_movies=[{'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated} for elem in new_movies]

In [14]:
user_mask=np.random.rand(len(all_users_df)) < 0.8
user_existing=all_users_df[user_mask]
user_new=all_users_df[~user_mask]

In [57]:
rating_existing=session.query(Rating).join(User).filter(User.id.in_(user_existing.index)).join(Movie).filter(Movie.year<1998).all()

In [59]:
len(rating_existing)

515545

In [58]:
rating[0].user

In [49]:
user_existing.index[:10]

Int64Index([2, 3, 4, 5, 7, 8, 9, 10, 11, 12], dtype='int64')

In [50]:
user_new.index[:10]

Int64Index([1, 6, 14, 18, 20, 27, 33, 34, 53, 62], dtype='int64')

In [3]:
movies=session.query(Movie).all()
movies_id=[elem.id for elem in movies]
movies_data=[{
        'year':elem.year,'actor':elem.actor,'title':elem.title,'rated':elem.rated,
        'director':elem.director,'genre':elem.genre
        } for elem in movies]

In [4]:
movies_df=pd.DataFrame(movies_data,index=movies_id)

In [6]:
movies_df

,year,actor,title,rated,director,genre
1,1995,Tom Hanks,Toy Story,G,John Lasseter,Animation|Children's|Comedy
2,1995,Robin Williams,Jumanji,PG,Joe Johnston,Adventure|Children's|Fantasy
3,1995,Walter Matthau,Grumpier Old Men,PG-13,Howard Deutch,Comedy|Romance
4,1995,Whitney Houston,Waiting to Exhale,R,Forest Whitaker,Comedy|Drama
5,1995,Steve Martin,Father of the Bride Part II,PG,Charles Shyer,Comedy
...,...,...,...,...,...,...
3948,2000,Robert De Niro,Meet the Parents,PG-13,Jay Roach,Comedy
3949,2000,Ellen Burstyn,Requiem for a Dream,R,Darren Aronofsky,Drama
3950,2000,Colin Farrell,Tigerland,R,Joel Schumacher,Drama
3951,2000,Michael Rispoli,Two Family House,R,Raymond De Felitta,Drama
3952,2000,Joan Allen,"Contender, The",N/A,Barbara Toennies,Drama|Thriller

In [13]:
movies_df.genre.isna().sum()

0